@import "./reset.css";
@import "./vars.css";

body {
  font-family: "Montserrat";
}

.input-group {
  height: var(--input-group-height);
  border: var(--input-group-border);
  border-radius: var(--input-group-border-radius);
  padding: 0 var(--input-group-padding);
  font-size: var(--font-md);
  color: var(--primary-color);
  line-height: 50px;
  font-weight: 500;
  width: 100%;
  margin-bottom: var(--spacer);
}
.input-group:focus {
  outline-color: var(--input-group-border-color-focus);
}

.btn {
  height: var(--btn-height);
  width: var(--btn-width);
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: var(--font-sm);
}

.container {
  width: 1200px;
  margin: auto;
  padding: 15px;
}

.form-field {
  position: relative;
  color: var(--primary-color);
}

.form-field label {
  /* allows label to be absolute */
  position: absolute;
  top: 39%;
  transform: translateY(-50%);
  left: calc(var(--spacer) + 2px);
  font-size: var(--font-sm);
  pointer-events: none;
  transition: 0.3s;
  font-weight: 300;
}

.form-field {
  position: relative;
}

.form-field input:focus + label,
.form-field input:not(:placeholder-shown) + label {
  top: 17px;
}

.form-field input::placeholder {
  color: transparent;
}
input[type="text"] {
  padding-top: 20px;
}

.range-inputs__inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.range-inputs .form-field {
  width: 48%;
}

.range-inputs__label {
  display: inline-block;
  font-size: var(--font-sm);
  color: var(--primary-color);
  margin-bottom: var(--spacer);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.range-inputs__inputs input {
  text-align: end;
}

.range-inputs__inputs input + label {
  top: 39% !important;
}
select {
  line-height: 1;
  background: url("./icons/chevron-down.svg") no-repeat right;
  -webkit-appearance: none;
  background-position-x: calc(100% - var(--spacer));
}
